<!doctype html>
<html lang="en">
<head>
	<meta charset"UTF-8">
	<title>Complejos</title>
</head>
<body>	
	<h1>Complejos Registrados</h1>
	{% if complexes%}
	<ul>
		{% for complex in complexes %} <!-- users -> Nombre de la lista especificado en views.py -->
			<li><b> Nombre: </b> {{complex.name}} </li>
			<li><b> Direccion: </b> {{complex.streetAddress}} </li>
			<li><b> Asador: </b> {{complex.roaster|yesno:"Si,No"}} </li>
			<li><b> Cantina: </b> {{complex.buffet|yesno:"Si,No"}} </li>
			<li><b> Vestuarios: </b>{{complex.lockerRoom|yesno:"Si,No"}} </li>
			<li><b> Dueño: </b> {{complex.user.get_full_name}} </li>
			
			<a href="/updatecomplexes"><button>Editar</button></a>
			
			<br><br>
		{% endfor %}
	</ul>
	{%else%}
		<p>No se encontraron complejos</p>
	{%endif%}
</body>