<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Buscar</title>
    <meta charset="utf-8">
    
</head>
<body>
  <h1 >BUSCAR COMPLEJO</h1>
  <form action="." method="GET">
    
    	<label for="q">Buscar: </label>
    	<input type="text" name="q" value="{{ query|escape }}">
        <input type="submit" value="Buscar">
    </form>

  {% if query %}
    <h2>Resultados para "{{ query|escape }}":</h2>

    {% if results %}
      <ul>
      {% for complex in results %}
        <li>{{ complex|escape }}</l1>
      {% endfor %}
      </ul>
    {% else %}
      <p>No hay complejos para la busqueda solicitada</p>
    {% endif %}
  {% endif %}
</body>
</html>

