
body {
    color: #efd;
    background: #453;
    padding: 0 2em;
    margin: 0;
    font-family: sans-serif;
    font-size: 120%;
}

h1 {
    padding: 30px 30px;
    background: #675;
    color: #ffa;
    font-size: 150%;
}

h2 {
    color: #bf8;
    border-top: 1px dotted #fff;
    margin-top: 2em
}

p {
    margin: 1em 0
}

a:link {
    color: red;
}

a:visited {
    color: orange;
}

a:hover {
    color: green;
}

hr {
    margin: 20px 0px;
    color: #efd;
    background-color: #efd;
    height: 2px;
}

table {
    border-collapse: collapse;
    border: 1px solid #fff;
    padding: 0px;
    margin-bottom: 10px;
}

td {
  border: 1px solid #fff;
  padding: 10px;
  text-align: center;
}

th {
  border: 1px solid #fff;
  padding: 10px;
  color: #ffa;
  background: #675;
}

footer {
    font-size: 90%;
    color: #ffa;
    text-align: center;
}
