<!doctype html>
<html lang="en">
<head>
	<meta charset"UTF-8">
	<title>Canchas</title>
</head>
<body>	
	<h1>Canchas Para Eliminar</h1>
	{%if courts%}
	<ul>
		{% for court in courts %} <!-- users -> Nombre de la lista especificado en views.py -->
			<li>Complejo :{{court.complex.name}}</li>
			<li>Luz artificial :{{court.artificial_light|yesno:"Si,No"}}</li>
			<li>Tipo de piso :{{court.get_lawnType_display|yesno:"Si,No"}}</li>
			<li>Tipo de cancha :{{court.get_soccerType_display|yesno:"Si,No"}}</li>
			<br>
			<a href="/deleteCourt/{{court.id}}/"><button>Eliminar</button></a>
			<hr>
		{% endfor %}
	</ul>
	{%else%}
		<p>No se han encontrado canchas</p>
	{%endif%}
		
	
</body>
</html>