<!doctype html>
<html lang="en">
<head>
	<meta charset"UTF-8">
	<title>Canchas</title>
</head>
<body>	
	<h1>CANCHAS REGISTRADAS</h1>

	<ul>
		{% for court in courts %}
			<li><b> N° de cancha: </b> {{court.id}} </li>
			<li><b> Luz artificial: </b> {{court.artificial_light|yesno:"Si,No"}} </li>
			<li><b> Tipo de piso: </b> {{court.get_lawnType_display}} </li> 
			<li><b> Tipo de cancha: </b> {{court.get_soccerType_display|yesno:"Si,No"}} </li> 
			<li><b> Complejo: </b> {{court.complex.name}} </li>
			<a href="/editCourt/{{court.id}}"><button>Editar</button></a>
			<br><br>
		{% endfor %}
	</ul>
</body>