<!doctype html>
<html lang="en">
<head>
	<meta charset"UTF-8">
	<title>Matches</title>
</head>
<body>	
	<h1>Partidos Registrados</h1>
	{%if matches%}
	<ul>
		{% for match in matches %} <!--matches -> Nombre de la lista especificado en views.py -->
			<li><b> Fecha del Partido: </b> {{match.day}} </li>
			<li><b> Hora: </b> {{match.hour}}:{{match.minutes}} </li>
			<li><b> Resultado: </b> {{match.score}}</li>
			<li><b> Equipo local: </b> {{match.teamlocal.name}} </li>
			<li><b> Equipo visitante: </b> {{match.teamVisitant.name}} </li>
			<li><b> Fixture: </b># {{match.fixture.id}} Fecha {{match.fixture.date}} </li>
			<br><br>
		{% endfor %}
	</ul>
	<br><br><br><br>
	{%else%}
		<p>No existen partidos</p>
	{%endif%}

</body>
