<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Buscar informacion de jugador</title>
    <meta charset="utf-8">
    
</head>
<body>
  <h1 >BUSCAR ESTADISTICAS</h1>
  <form action="" method="GET">
    	<label for="q">Buscar: </label>
    	<input type="text" name="q" value="{{ query|escape }}"> 
        <input type="submit" value="Buscar">
    </form>

  {% if query %}
    <h2>Resultados para "{{ query|escape }}":</h2>

    {% if results %}
      <ul>
      <label></label>
      {% for playerinfo in results %}
        <li>Nombre: {{ playerinfo.user|escape }}</l1>
        <p> Goles: {{ playerinfo.goals|escape }} </p>
        <p> Tarjetas Amarillas: {{ playerinfo.yellowCards|escape }} </p>
        <p> Tarjetas Rojas: {{ playerinfo.redCards|escape }} </p>
        <p> Torneo en el cual participa: {{playerinfo.tournament}}
      {% endfor %}
      </ul>
    {% else %}
      <p>No hay reservas que coincidan con la busqueda solicitada</p>
    {% endif %}
  {% endif %}
</body>
</html>